.loginform 
	{
		width: 323px;
		margin: 4% auto 2%;
	}
	.logo
	{
		width:200px;
	}
	.form-control 
	{
		display: block !important;
		width: 100% !important;
		height: 42px !important;
		padding: 6px 12px !important;
		font-size: 14px !important;
		line-height: 1.42857143 !important;
		color: #555 !important;
		background-color: #f5f8fa !important;
		background-image: none ;
		border: 1px solid #cbd6e2 !important;
		width:80% !important;
    
	}
	label 
	{
		font-family:Avenir Next W02,Helvetica,Arial,sans-serif;
		font-weight: 500;
		font-size: 14px;
	}
	.register_link{
		margin-top:3%;
		font-family:Avenir Next W02,Helvetica,Arial,sans-serif;
		font-weight: 500;
		font-size: 14px;
	}
	span
	{
		color: #0091ae;
	}
	.show_password
	{
		float: right;
		margin-right: 22%;
		color: #0091ae;
		cursor:pointer;
	}
	input[type="checkbox"]
	{
		width: 16px;
		height: 17px;
		margin: 2px 4px 0;
		background: white;
	}
	.submit
	{
		width:80%;
		background-color: #eaf0f6!important;
		border-color: #eaf0f6!important;
		box-shadow: none!important;
		color: #b0c1d4!important;
		height:42px;
		font-size:20px;
		border:none;
		font-family:Avenir Next W02,Helvetica,Arial,sans-serif;
	}
	.facebook
	{
		width:80%;
		background-color: #4776C4;
		border-color: #4776C4!important;
		box-shadow: none!important;
		color: white;
		height:42px;
		font-size:14x;
		border:none;
		font-family:Avenir Next W02,Helvetica,Arial,sans-serif;
	}
	.checkbox{
		margin-top:18px;
	}
	hr {
    margin-top: 35px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
    width: 80%;
    margin-left: 0%;
}
.google
{
	width: 42px;
    position: absolute;
    background: white;
    border: 1px solid #4776c4;
    padding: 5px;
}
.container{
	margin-left:12%;}
.sso
{
	background-color: #425b76;
    border-color: #425b76;
    color: #fff;
	width:80%;
	height:42px;
	font-size:14x;
	border:none;
	font-family:Avenir Next W02,Helvetica,Arial,sans-serif;
}
	.copyright {
    font-size: 14px;
    padding: 0 0 15px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    background: rbga(0,0,0,0);
	text-align: center;
    margin-left: -20%;
}
.private-form__meta{
	color: red;
    margin-top: 2%;
    margin-left: 25%;
	
}